<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwp.mapper.YlcChargerMapper">


    <insert id="add" parameterType="com.wwp.entity.YlcCharger">
        INSERT INTO ylc_charger set id=#{id} ,serial_num=#{serialNum},depart_id=#{departId},`type`=#{type},plugs=#{plugs},model_code=#{modelCode},
                                    plug_status=#{plugStatus}
    </insert>

    <select id="getDevCharger" resultType="com.wwp.entity.YlcCharger">
		select * from  ylc_charger where serial_num = #{serialNum}
	</select>

    <update id="updateTime">
        update ylc_charger
        set   update_time=#{updateTime}
        where serial_num = #{serialNum}
    </update>

    <update id="updateStatus">
        update ylc_charger
        <trim prefix="set" suffixOverrides=",">
            <if test="plugStatus!=null">`plug_status`=#{plugStatus,jdbcType=INTEGER},</if>
            <if test="plugHoming!=null">plug_homing=#{plugHoming,jdbcType=INTEGER},</if>
            <if test="slotIn!=null">slot_in=#{slotIn,jdbcType=INTEGER},</if>
        </trim>
        WHERE serial_num =#{serialNum,jdbcType=VARCHAR}
    </update>

</mapper>